.sidebarMenu {
	transition: margin-left 0.7s;
    overflow: hidden;
    width: 100%;
   
    
    &__slide {
	    // background-color: $color-white;
        // height: 2rem;
        // width: 2rem;
        position: fixed;
        top: -1rem;
        left: 3.6rem;
        z-index: 2000;
        cursor: pointer;

        @media only screen and (max-width: $bp-medium) {
            position: fixed;
            top: 4.5rem;
            left: 1.5rem;
            // display: none;
        }

        

        & a {
	        color: var(--color-primary);
            font-size: 3.6rem;
           
        }
    }

    &__nav {
	    height: 100%;
	    width: 0;
	    position: fixed;
	    z-index: 19999;
	    top: -1rem;
	    left: 0;
	    background-color: var(--color-grey-dark-1);
	    opacity: .9;
	    overflow-x: hidden;
	    // padding-top: 6rem;
        transition: 0.7s;
        
        
        & a {
	        display: block;
	        padding: .2rem 3rem;
	        // font-size: 2.5rem;
	        text-decoration: none;
	        color: #ccc;
        }
        &:hover {
	        // color: #fff;
	        transition: 0.4s;
        }
        &--close {
	        position: absolute;
	        top: 0;
	        right: .2rem;
	        margin-left: 5rem;
            font-size: 2rem;
            color: #fff;
        }
    }
}


